@import "~bulma/sass/utilities/_all";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700&display=swap");

// Set our font
// $family-primary: "Quicksand", sans-serif;
$family-primary: "Muli", sans-serif;


// Set your colors
$primary: #ff966e;
$primary-invert: findColorInvert($primary);
$secondary: #2d3cb9;
$black: #1e1e1e;
$black-invert: findColorInvert($black);
$blue: #2d3cb9;
$blue-invert: findColorInvert($blue);

$primary-background: lighten($primary, 20%);

$generalmargin: 20px;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
	"white": (
		$white,
		$black
	),
	"black": (
		$black,
		$white
	),
	"blue": (
		$blue,
		$white
	),
	"light": (
		$light,
		$light-invert
	),
	"dark": (
		$dark,
		$dark-invert
	),
	"primary": (
		$primary,
		$primary-invert
	),
	"info": (
		$info,
		$info-invert
	),
	"success": (
		$success,
		$success-invert
	),
	"warning": (
		$warning,
		$warning-invert
	),
	"danger": (
		$danger,
		$danger-invert
	)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;


// Headlines
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;

  span {
    font-weight: 700;
    color: $secondary;
  }
}

// Buttons
.custom-button {
  min-width: 200px;
  border: 3px solid $primary;
  border-radius: 8px;
  padding: 6px 12px 6px 12px;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.16s ease;
  &.orange {
    position: relative;
    border: 3px solid $primary;
    &::after {
      position: absolute;
      content: "0800 123 456";
      background-color: white;
      border-radius: 1rem;
      padding: 2px 6px 2px 6px;
      bottom: -14px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 12px;
      box-shadow: 0 4px 8px rgba($primary, 0.24);
      border: 1px solid rgba($black, 0.16);
      color: $black;
    }
    &:hover {
      color: white;
      background-color: $primary;
    }
  }
  &.blue {
    border: 3px solid $secondary;
    &:hover {
      color: white;
      background-color: $secondary;
    }
  }
}

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
